body{
	background: #F3F5FC;
	font-family: 'Inter', sans-serif;
}

main{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	height: 99vh;
}

.vect{
	display: inline-block;
	grid-column: 1/9;
	grid-row: 1/2;
}

.vector{
	position: absolute;
	left: 3em;
	top: 1.5em;
	width: calc(31.09px/1.4);
	height: calc(48px/1.4);
}

.text{
	grid-column: 1/9;
	grid-row: 2/6;
	margin-left: 25%;
	height: 100%;
}

.input-text{
	border: none;
	background: #F3F5FC;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400px;
	font-size: 1.7em;
	line-height: 150%;
	outline: none;
	color: #0A3871;
	height: 100%;
	width: 100%;
}

.input-text::placeholder{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400px;
	font-size: 1em;
	line-height: 150%;
	color: #0A3871;
}

.input-text:focus{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400px;
	font-size: 1.7em;
	line-height: 150%;
	outline: none;
	color: #0A3871;
	resize: none;
}

.input-text:focus::placeholder{
	color: transparent;
}

.buttons{
	display: grid;
	grid-template-columns: 1fr 1em 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column: 1/9;
	grid-row: 6/7;
	position: relative;
	height: 100%;
	margin: 0 0 6% 27%;
}

.advertencia{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1.8em 1fr;
	grid-column: 1/4;
	grid-row: 1/2;
	align-self: end;
	margin-bottom: 0.7em;
}

.advertencia span{
	grid-row: 1/2;
	grid-column: 1/2;
	color: #495057;
	opacity: 0.7;
	font-weight: 400;
	font-size: 1.5em;
}

.advertencia h1{
	grid-row: 1/2;
	grid-column: 2/3;
	align-self: end;
	font-family: 'Inter', sans-serif;
	color: #495057;
	opacity: 0.7;
	font-weight: 400;
	font-size: 0.8em;
	line-height: 150%;
}

.first {
	grid-column: 1/2;
	grid-row: 2/3;    
}


.encriptar{
	background: #0A3871;
	border-color: #0A3871;;
	border-radius: 1em;
	color: #FFFFFF;
	font-weight: 400;
	width: 21em;
	height: 3.6em;
	text-align: center;
	display: inline-block;
}

.second{
	grid-column: 3/4;
	grid-row: 2/3;
}

.desencriptar{
	background: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 1em;
	color: #0A3871;
	font-weight: 400;
	width: 21em;
	height: 3.6em;
	text-align: center;
	display: inline-block;
}

.mensajeSin{
	position: relative;
	grid-column: 9/13;
	grid-row: 1/7;
	left: 8%;
	bottom: 1%;
	width: 78%;
	margin: 5%;
	height: 95%;
	border-radius: 1.5em;
	background: #FFFFFF;
	box-shadow: 0 0.5em 0.8em 0 rgba(0, 0, 0, 0.09);
}

.mensajeCon{
	position: relative;
	grid-column: 9/13;
	grid-row: 1/7;
	left: 8%;
	bottom: 1%;
	width: 78%;
	margin: 5%;
	height: 95%;
	border-radius: 1.5em;
	background: #FFFFFF;
	box-shadow: 0 0.5em 0.8em 0 rgba(0, 0, 0, 0.09);
	visibility: hidden;
}

.caja-mensajeSin{
	width: 100%;
	height: 100%;
}

.sinTexto{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	z-index: 100;
	position: absolute;
	padding: 40% 0 0 10%;
}

.muñeco{
	display: inline-block;
	width: 90%;
}

.mensajeSin h2{
	display: inline-block;
	text-align: center;
	color: #343A40;
	font-weight: bold;
	font-size: 1.3em;
	padding: 1em 2em 0 0;
}

.mensajeSin h3{
	display: inline-block;
	text-align: center;
	color: #495057;
	font-size: 0.85em;
	padding: 1em 3em 0 0;
}

.caja-mensajeCon{
	width: 100%;
	height: 100%;
}

.conTexto{
	position: absolute;
	padding: 6% 2% 0 5%;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.text-mensaje{
	display: inline-block;
	background: #FFFFFF;
	color: #495057;
	outline: none;
	border: none;
	width: 90%;
	height: 83%;
	font-family: 'Inter', sans-serif;
	font-size: 1.3em;
	resize: none;
}

.boton-copiar{
	margin: 5% 0 0 6%;
	background: #F3F5FC;
	border: 1px solid #0A3871;
	border-radius: 1em;
	color: #0A3871;
	font-weight: 400;
	width: 85%;
	height: 3.4em;
	text-align: center;
	display: inline-block;
}

@media screen and (max-width: 1150px){
	.text{
		margin-left: 15%;
	}

	.input-text{
		font-size: 1.5em;
	}

	.input-text::placeholder{
		font-size: 1.3em;
	}

	.input-text:focus{
		font-size: 1.5em;
	}

	.buttons{
		position: relative;
		margin: 0 0 12% 10%;
	}

	.mensajeSin{
		width: 85%;
		left: 0%;
	}

	.mensajeCon{
		width: 85%;
		left: 0%;
	}
}

@media screen and (max-width: 1000px) and (min-width: 900px){
	.encriptar .desencriptar{
		width: 5em;
	}

	.text{
		margin-left: 8%;
		height: 100%;
	}

	.buttons{
		margin: 0 0 9% 6%;
	}
}

@media screen and (max-width: 899px){

	main{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 10vh 57vh 14vh 1fr;
		height: 100vh;
		overflow: hidden;
	}

	.vect{
		grid-column: 1/12;
		grid-row: 1/2;
	}

	.vector{
		width: calc(31.09px/1.6);
		height: calc(48px/1.6);
	}

	.text{
		grid-column: 1/12;
		grid-row: 2/3;
		margin: 2% 2% 0 5%;
	}

	.input-text{
		font-size: 1.2em;
	}

	.input-text::placeholder{
		font-size: 1.2em;
	}

	.input-text:focus{
		font-size: 1.2em;
	}

	.buttons{
		grid-column: 2/12;
		grid-row: 3/4;
		margin: 0;
		border-radius: 0.5em;
	}

	.encriptar{
		width: 90%;
		height: 90%;
	}

	.desencriptar{
		width: 90%;
		height: 90%;
		margin-right: 10%;
	}

	.mensajeSin{
		grid-column: 1/12;
		grid-row: 4/5;
		width: 100%;
		height: 75%;
		margin: 3% 0 0% 4%;
	}

	.mensajeCon{
		grid-column: 1/12;
		grid-row: 4/5;
		width: 100%;
		height: 230%;
		margin: 3% 0 0% 4%;
	}

	.caja-mensajeSin{
		display: flex;
		align-content: center;
		justify-content: center;
	}

	.sinTexto{
		padding: 1% 5% 0% 5%;
	}

	.sinTexto h2{
		font-size: 1em;
	}

	.sinTexto h3{
		font-size: 0.9;
		padding: 3% 0 0 0;
	}

	.muñeco{
		position: absolute;
		width: 10px;
		visibility: hidden;
	}

	.caja-mensajeCon{
		grid-column: 1/12;
		grid-row: 4/5;
		width: 100%;
		height: 100%;
		margin: 3% 0 0% 4%;
	}

	.conTexto{
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.text-mensaje{
		width: 93%;
		height: 65%;
		font-size: 1.1em;
	}

	.boton-copiar{
		height: 14%;
		margin: 2% 0 0 20%;
		width: 50%;
	}

	.advertencia span{
		font-size: 1.2em;
	}

	.advertencia h1{
		font-size: 0.7em;
	}
}

@media screen and (max-width: 750px){

	.text-mensaje{
		height: 70%;
	}
}

@media screen and (max-width: 550px){

	.vector{
		left: 1.1em;
		top: 1.1em;
	}

	.text{
		margin-top: 0;
	}

	.buttons{
		grid-column: 1/13;
		margin: 0 2%;
	}


	.encriptar{
		width: 100%;

	}

	.desencriptar{
		width: 100%;
		margin-right: 0;
	}

	.boton-copiar{
		width: 90%;
		margin: 2% 0 0 3%;
	}
}

@media screen and (max-width: 470px){
	.boton-copiar{
		height: 12%;
	}

	.text-mensaje{
		height: 77%;
	}

	.mensajeCon{
		height: 270%;
	}
}